{% extends "index.html" %}
{% load staticfiles %}

{% block content %}

<div style = "width:100%; height:50px; background-color:black;">
</div>

<body>

    <div class="jumbotron text-center bgm-title" style="width: 100%; height: 400px; background-color: #141414; margin-bottom:0px; text-align:left; padding-left:100px;">
        <h1 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; color: white; font-weight: bold; font-size: 70px;">No Copyright Music</h1>
        <h1 style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; color: white; font-weight: bold; font-size: 60px; padding-left:140px;">For Your Contents</h1>
        <p></p>
    </div>
    <!-- content -->
    <div class="container bgm-container">
    <div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/c-XpTMGPQvI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Epic Cinematic Dramatic Adventure</span> <span class="bgmlist2" style="font-size:20px; float:right; padding-top:60px; padding-right:60px;">[happy]</span>
    </div>
    </div>
	</div>

	<div class="container bgm-container">
    <div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/fB8TyLTD7EE?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">RISE | Worlds 2018 - League of Legends</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[sad]</span>
    </div>
    </div>

    </div>
	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/_BhHYyI-iPI?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Simon More - Vanlife</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[brave]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/5dIrzmOoaxw?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Naulé - Tough Love</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[love]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/DLkX0UJ90Wo?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">MBB - Ibiza</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[happy]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/KzQiRABVARk?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Fredji - Happy Life</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[happy]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/HvxqiK2d6CE?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Break Free (Free Music) — Vendredi [Audio Library Release]</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[strange]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/oHR9HZsBDJw?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">No? Yeah! — LiQWYD [Vlog No Copyright Music]</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[happy]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/p5cWMxzzMdA?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Melancholic Piano Music (No Copyright)</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[sad]</span>
    </div>
    </div>
    </div>

	<div class="container bgm-container">
	<div class="bgm-container-content">
    <div class="bgmlist">
    <embed src="https://www.youtube.com/v/PTpZqMpq6w8?version=3&amp;hl=ko_KR&amp;vq=hd720" type="application/x-shockwave-flash" width="180" height="80" ="always" allowfullscreen="true"></embed>
    <span class="bgmlist2">Enemy — SilentCrafter [Vlog No Copyright Music]e</span> <span class="bgmlist2" style="font-size:20px;float:right; padding-top:60px; padding-right:60px;">[electronic]</span>
    </div>
    </div>
    </div>


    <!-- footer -->

		<style>
			p { margin:20px 0px; }
		</style>
	</head>
	<body>
		<div class="container" style="background-color: #141414; width: 100%; padding-top:80px;">
			<div class="row">
				<div class="col">

					<ul class="pagination" style="margin-left: 40%;">

						<li class="page-item" style="font-weight: bold;"><a class="page-link" style="background-color: #d3d3d3;color:#000000;" href="/bgm">1</a></li>
						<li class="page-item" ><a class="page-link" style="color:#000000;" href="/bgm2">2</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;"  href="#">3</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;"  href="#">4</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;"  href="#">5</a></li>
						<li class="page-item"><a class="page-link" style="color:#000000;" href="/bgm2">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</body>


</body>
{% endblock content %}