<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>성균관대학교 웹 개발 기초</title>
  <link rel="stylesheet" href='{% static "css/test.css" %}' type="text/css">

  <!-- Bootstrap core CSS -->
  <link href='{% static "static2/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|East+Sea+Dokdo|Nanum+Gothic|Yeon+Sung&display=swap&subset=korean" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href= '{% static "static2/css/the-big-picture.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
      <a class="navbar-brand" href="#">성균관대 웹 개발 기초 프로젝트</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">성균관대
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">2015310895</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">프랑스어문학과</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">조현수</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section>

    <figure class="snip1445">

    <img src='{% static "static2/img/북극여우.jpg" %}' alt="sample84" />

    <figcaption>

    <div>
      <h2 class = home-title>Shufflay</h2>
      <h4 class = home-title2>Go</h4>

    </div>
      <a class href="/hyunsoo"> <h3 class = home-title2></h3> </a>
    </figcaption>


    </figure>
    <!--
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5 home-title">Bon jour~!</h1>
          <p class="home-content2"> <a  class ="home-content" href="/hyunsoo"> Sufflay 바로 가기</a></p>
        </div>
      </div>
    </div>-->
  </section>


  <!-- Bootstrap core JavaScript -->

  <script src='{% static "static2/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "static2/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

</body>

</html>
