{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<div style = "width:100%; height:50px; background-color:black;">

</div>

<div class ="container" style="background-color:#141414; width: 100%; height: 750px;">

 <div class="login-container" style="border-radius:30px; border: 5px double #999; margin-top: 150px; margin-left:550px; margin-right: 550px; padding:80px 50px; background-color:white;">

    <div class="login_title" style="margin-bottom: 20px;">
        <h2 style="text-align:left; font-weight: bold;">JOIN US!</h2>
    </div>

    <form method="POST" action="{%url 'signup'%}">
        {% csrf_token %}
        username:
        <br>
        <input name = "username" type="text">
        <br>
        Password:
        <br>
        <input name = "password1" type="password">
        <br>
        Confirm Password:
        <br>
        <input name="password2" type="password">
        <br><br>
        <input type="submit" class="btn btn-primary" value="회원가입">

    </form>
{% for message in messages %}
<div class="alert alert-danger" style="width: 200px; margin-top:20px">
    <a class="close" href="#" data-dismiss="alert"></a>
    {{message}}

</div>
{% endfor %}
</div>
</div>

{% endblock content%}