{% extends "index.html" %}
{% load staticfiles %}

{% block content %}

<div style = "width:100%; height:50px; background-color:black;">
</div>
<body>
    <!-- header -->
    <div class="jumbotron text-center" style="background-color: white;">
        <h1 style="font-family: 'Patua One', cursive; font-size: 100px;">Team. Challengers</h1>
        <h4></h4>
    </div>
    <hr style="border: solid 2px #939393; max-width:1200px;"></hr>
    <!-- content -->
    <div  style="margin-left:50px; margin-right: 50px; text-align: center;">
        <div class="row" style="margin-bottom:20%; margin-left: 75px;">
            <!-- left content -->
            <div  style="">


                <div style="float: left;">
                    <img src='{% static "img/test/조현수.jpg" %}' style="width: 350px; height: 400px; margin: 35px; ">
                        <h5 style="font-weight: bold; text-align: left; margin-left: 30px;">조현수</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; ">대표이사</h5>
                        <hr style="border: solid 1px black; max-width:360px;"></hr>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">건국대학교 경제학과 중퇴</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">성균관대학교 프랑스어문학과</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">성균관대학교 인포매틱스 융합전공</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">성균관대학교 제49대 문과대학 학생회 집행부</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">9사단 백마부대 육군 병장 만기 전역</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">9사단 3대대 12중대 직사소대 3분대장 출신</h5>

                </div>
                <div style="float: left;">
                    <img src='{% static "img/test/이청수.jpg" %}' style="width: 350px; height: 400px; margin: 35px; ">
                        <h5 style="font-weight: bold; text-align: left; margin-left: 30px;">이청수</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697;">CTO</h5>
                        <hr style="border: solid 1px black; max-width:360px;"></hr>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">서울대학교 중퇴(본인피셜/진위여부 확인 불가)</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">성균관대학교 프랑스어문학과</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">성균관대학교 컴퓨터공학과</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">성균관대학교 제49대 문과대학 학생회 집행부 사퇴</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">세종대왕 후손 (밀성군파)</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">육군 병장 전역</h5>

               </div>
                <div style="float: left;">
                    <img src='{% static "img/test/유재영.jpg" %}' style="width: 350px; height: 400px; margin: 35px; ">
                        <h5 style="font-weight: bold; text-align: left; margin-left: 30px;">유재영</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697;">CEO</h5>
                        <hr style="border: solid 1px black; max-width:360px;"></hr>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">충북대학교 국제경영학과</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">충북대학교 친목질 주도</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">충북대학교 2018년 올해의 인물</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">충북대학교 2019년 여심 저격 남</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">9사단 백마부대 육군 병장 만기 전역</h5>
                        <h5 style="text-align: left; margin-left: 30px; color: #969697; font-weight: bold; ">9사단 3대대 12중대 직사소대 4분대장 출신</h5>
                </div>

            </div>

        </div>

    </div>
    <!-- footer -->

</body>
{% endblock content %}